![panda](http://res.freestockphotos.biz/thumbs/3/3173-illustration-of-a-giant-panda-eating-bamboo-th.png)

# Pandas Data Cleaning

# Objectives

- Handle missing data, and recognize when different strategies for handling missing data would be appropriate
- Use DataFrame methods (and sometimes lambda functions) to transform data
- Use string methods to transform object-type columns

In [5]:
# Imports

import pandas as pan
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

## To The Center!

That's right - we're still working with Austin Animal Center data! But now, let's check out the Outcomes data, instead of the Intakes data we were working with before.

Data source: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238

In [6]:
# Read in the animal center outcomes data as df
# Can use parse_dates and pass a column name to read it as a datetime
df = pan.read_json("https://data.austintexas.gov/resource/9t4d-g238.json")

In [12]:
# Check it out
df.head()
df.head(50)

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A875023,Mystery Blacks,2023-02-27 07:59:00,2023-02-27T07:59:00.000,2020-02-21T00:00:00.000,Transfer,Snr,Cat,Intact Male,3 years,Domestic Shorthair Mix,Black
1,A874710,Hamlet,2023-02-27 07:59:00,2023-02-27T07:59:00.000,2021-02-16T00:00:00.000,Transfer,Snr,Cat,Intact Male,2 years,Domestic Shorthair,Blue Tabby/White
2,A874555,*Pam,2023-02-27 07:58:00,2023-02-27T07:58:00.000,2021-02-14T00:00:00.000,Transfer,Snr,Cat,Intact Female,2 years,Domestic Shorthair,Brown Tabby
3,A875111,Eddie,2023-02-27 07:58:00,2023-02-27T07:58:00.000,2022-02-22T00:00:00.000,Transfer,Snr,Cat,Intact Male,1 year,Domestic Shorthair,Gray Tabby/White
4,A874604,NaN,2023-02-27 07:57:00,2023-02-27T07:57:00.000,2021-02-15T00:00:00.000,Transfer,Snr,Cat,Intact Female,2 years,Domestic Shorthair,Tortie/White
5,A874160,Charlie,2023-02-26 19:10:00,2023-02-26T19:10:00.000,2021-12-25T00:00:00.000,Adoption,NaN,Dog,Neutered Male,1 year,Pit Bull Mix,White/Gold
6,A873912,*Gunner,2023-02-26 19:02:00,2023-02-26T19:02:00.000,2021-02-02T00:00:00.000,Adoption,NaN,Dog,Neutered Male,2 years,Australian Cattle Dog Mix,Black/Gray
7,A873219,*Naan,2023-02-26 18:45:00,2023-02-26T18:45:00.000,2022-01-22T00:00:00.000,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Longhair,Blue
8,A873293,*Paprika,2023-02-26 18:43:00,2023-02-26T18:43:00.000,2021-01-23T00:00:00.000,Adoption,NaN,Cat,Neutered Male,2 years,Domestic Shorthair,Brown Tabby
9,A875074,Mikey,2023-02-26 18:15:00,2023-02-26T18:15:00.000,2015-02-24T00:00:00.000,Adoption,NaN,Dog,Neutered Male,8 years,Chihuahua Shorthair,Brown
10,A875112,NaN,2023-02-26 17:57:00,2023-02-26T17:57:00.000,2020-02-22T00:00:00.000,Euthanasia,Suffering,Dog,Spayed Female,3 years,Chihuahua Shorthair,White/Brown
11,A873856,*Mr. Bug,2023-02-26 17:51:00,2023-02-26T17:51:00.000,2020-02-01T00:00:00.000,Adoption,NaN,Dog,Neutered Male,3 years,Australian Cattle Dog,Black/White
12,A873106,*Maisy,2023-02-26 16:19:00,2023-02-26T16:19:00.000,2022-12-20T00:00:00.000,Adoption,Foster,Cat,Spayed Female,2 months,Domestic Shorthair,Brown Tabby
13,A873107,*Flynn,2023-02-26 16:13:00,2023-02-26T16:13:00.000,2022-12-20T00:00:00.000,Adoption,Foster,Cat,Spayed Female,2 months,Domestic Shorthair,Brown Tabby
14,A869448,*Al,2023-02-26 15:53:00,2023-02-26T15:53:00.000,2020-11-18T00:00:00.000,Adoption,Foster,Cat,Neutered Male,2 years,Domestic Shorthair,Black/White
15,A874763,Cupo,2023-02-26 15:51:00,2023-02-26T15:51:00.000,2019-09-17T00:00:00.000,Adoption,NaN,Dog,Neutered Male,3 years,Plott Hound,Black/Brown
16,A874121,A874121,2023-02-26 15:43:00,2023-02-26T15:43:00.000,2022-02-06T00:00:00.000,Return to Owner,NaN,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
17,A861398,Molly,2023-02-26 15:00:00,2023-02-26T15:00:00.000,2022-05-02T00:00:00.000,Return to Owner,NaN,Dog,Spayed Female,9 months,German Shepherd,Brown/Tan
18,A869178,*Simba,2023-02-26 15:00:00,2023-02-26T15:00:00.000,2022-04-14T00:00:00.000,Adoption,NaN,Cat,Neutered Male,10 months,Domestic Shorthair Mix,Orange Tabby
19,A844791,Tiger,2023-02-26 14:58:00,2023-02-26T14:58:00.000,2019-10-20T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,3 years,Pit Bull,Brown Brindle/White
20,A875394,Ziggy,2023-02-26 14:58:00,2023-02-26T14:58:00.000,2021-02-26T00:00:00.000,Return to Owner,NaN,Cat,Intact Female,2 years,Domestic Medium Hair,White/Black
21,A875386,Shakira,2023-02-26 14:55:00,2023-02-26T14:55:00.000,2020-02-26T00:00:00.000,Return to Owner,NaN,Dog,Intact Female,3 years,Labrador Retriever/Great Pyrenees,Tan/White
22,A874603,Pea,2023-02-26 14:17:00,2023-02-26T14:17:00.000,2021-07-15T00:00:00.000,Adoption,NaN,Other,Intact Male,1 year,Rabbit Sh,White/Brown
23,A874833,*Toochi,2023-02-26 13:42:00,2023-02-26T13:42:00.000,2022-12-18T00:00:00.000,Adoption,NaN,Dog,Spayed Female,2 months,Labrador Retriever/Plott Hound,White
24,A875294,George,2023-02-26 13:31:00,2023-02-26T13:31:00.000,2021-02-24T00:00:00.000,Return to Owner,NaN,Dog,Intact Male,2 years,Flat Coat Retriever,Black
25,A874636,*Melba,2023-02-26 13:28:00,2023-02-26T13:28:00.000,2022-02-15T00:00:00.000,Adoption,NaN,Dog,Spayed Female,1 year,Great Pyrenees,White
26,A873328,Kimmy,2023-02-26 12:24:00,2023-02-26T12:24:00.000,2022-05-23T00:00:00.000,Adoption,NaN,Dog,Spayed Female,9 months,Labrador Retriever Mix,Brown/White
27,A872680,*Maaz,2023-02-26 00:00:00,2023-02-26T00:00:00.000,2022-12-31T00:00:00.000,Adoption,NaN,Dog,Spayed Female,1 month,Australian Cattle Dog/Catahoula,White
28,A873969,*Big Beef,2023-02-25 18:46:00,2023-02-25T18:46:00.000,2019-02-03T00:00:00.000,Adoption,NaN,Dog,Neutered Male,4 years,American Bulldog Mix,Black/White
29,A872885,Bear,2023-02-25 18:45:00,2023-02-25T18:45:00.000,2020-01-17T00:00:00.000,Adoption,NaN,Dog,Neutered Male,3 years,Pit Bull,Tan/White
30,A868977,Cinnamon,2023-02-25 18:36:00,2023-02-25T18:36:00.000,2021-11-10T00:00:00.000,Adoption,NaN,Dog,Spayed Female,1 year,Labrador Retriever Mix,Chocolate/White
31,A875215,NaN,2023-02-25 17:12:00,2023-02-25T17:12:00.000,2020-02-23T00:00:00.000,Transfer,Partner,Cat,Spayed Female,3 years,Domestic Shorthair,Brown Tabby
32,A875355,NaN,2023-02-25 16:59:00,2023-02-25T16:59:00.000,2023-02-10T00:00:00.000,Transfer,Partner,Cat,Unknown,2 weeks,Domestic Shorthair,Blue/White
33,A875354,NaN,2023-02-25 16:58:00,2023-02-25T16:58:00.000,2023-02-10T00:00:00.000,Transfer,Partner,Cat,Unknown,2 weeks,Domestic Shorthair,Blue Tabby
34,A875353,NaN,2023-02-25 16:58:00,2023-02-25T16:58:00.000,2023-02-10T00:00:00.000,Transfer,Partner,Cat,Intact Male,2 weeks,Domestic Shorthair,Black
35,A873239,*Sage,2023-02-25 16:57:00,2023-02-25T16:57:00.000,2021-01-23T00:00:00.000,Adoption,NaN,Cat,Neutered Male,2 years,Domestic Shorthair,Blue
36,A874677,Major,2023-02-25 16:47:00,2023-02-25T16:47:00.000,2022-09-04T00:00:00.000,Adoption,NaN,Dog,Neutered Male,5 months,Pit Bull,Brown Brindle
37,A839506,Beau Beau,2023-02-25 16:33:00,2023-02-25T16:33:00.000,2014-07-22T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,8 years,American Pit Bull Terrier Mix,White/Brown
38,A875339,NaN,2023-02-25 16:22:00,2023-02-25T16:22:00.000,2021-02-25T00:00:00.000,Euthanasia,Rabies Risk,Other,Unknown,2 years,Raccoon,Gray/Black
39,A873205,*Mustard,2023-02-25 15:59:00,2023-02-25T15:59:00.000,2021-01-22T00:00:00.000,Adoption,NaN,Cat,Neutered Male,2 years,Domestic Shorthair,Brown Tabby
40,A872682,NaN,2023-02-25 15:52:00,2023-02-25T15:52:00.000,2022-12-31T00:00:00.000,Adoption,NaN,Dog,Neutered Male,1 month,Australian Cattle Dog/Catahoula,Brown/Black
41,A875065,A875065,2023-02-25 14:44:00,2023-02-25T14:44:00.000,2021-02-21T00:00:00.000,Transfer,Partner,Cat,Intact Female,2 years,Domestic Shorthair,Brown Tabby/White
42,A874790,*Trudy,2023-02-25 14:43:00,2023-02-25T14:43:00.000,2021-02-18T00:00:00.000,Transfer,Partner,Cat,Spayed Female,2 years,Domestic Shorthair,Brown Tabby
43,A875229,Layla,2023-02-25 14:43:00,2023-02-25T14:43:00.000,2022-05-23T00:00:00.000,Transfer,Partner,Cat,Intact Female,9 months,Domestic Shorthair,Gray Tabby/White
44,A874708,*Bess,2023-02-25 14:21:00,2023-02-25T14:21:00.000,2022-11-16T00:00:00.000,Adoption,NaN,Dog,Spayed Female,3 months,Pit Bull,Blue/White
45,A875020,Chulo,2023-02-25 13:38:00,2023-02-25T13:38:00.000,2016-02-21T00:00:00.000,Return to Owner,NaN,Dog,Neutered Male,7 years,American Bulldog Mix,Brown
46,A872917,*Paulie,2023-02-25 13:37:00,2023-02-25T13:37:00.000,2022-07-17T00:00:00.000,Transfer,Partner,Dog,Intact Male,7 months,German Shepherd Mix,Tan/Black
47,A875131,Felix,2023-02-25 13:33:00,2023-02-25T13:33:00.000,2022-03-22T00:00:00.000,Adoption,NaN,Cat,Neutered Male,11 months,Domestic Shorthair,White/Brown Tabby
48,A868975,*Lexy,2023-02-25 11:28:00,2023-02-25T11:28:00.000,2021-11-10T00:00:00.000,Adoption,Foster,Dog,Spayed Female,1 year,Pit Bull Mix,Black/White
49,A869077,*Trudy,2023-02-25 09:49:00,2023-02-25T09:49:00.000,2022-07-12T00:00:00.000,Adoption,Foster,Cat,Spayed Female,7 months,Domestic Shorthair,Orange Tabby/White

In [8]:
# Info on the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   animal_id         1000 non-null   object
 1   name              718 non-null    object
 2   datetime          1000 non-null   datetime64[ns]
 3   monthyear         1000 non-null   object
 4   date_of_birth     1000 non-null   object
 5   outcome_type      998 non-null    object
 6   outcome_subtype   452 non-null    object
 7   animal_type       1000 non-null   object
 8   sex_upon_outcome  1000 non-null   object
 9   age_upon_outcome  1000 non-null   object
 10  breed             1000 non-null   object
 11  color             1000 non-null   object
dtypes: datetime64[ns](1), object(11)
memory usage: 93.9+ KB

## Using Questions to Drive Both Exploration and Cleaning

The best way to think about how to both explore and clean your data set is to think about what is interesting in your data, what questions you have, what you want to know and how to actually get there. We're going to ask a few questions of our dataset, and use that to drive our 'cleaning' process (and talk a little bit about how and when to clean data in the process!)

## Question 1: How old are the animals in our dataset?

Let's try to answer this with the `Age upon Outcome` variable:

In [9]:
df.age_upon_outcome

0       3 years
1       2 years
2       2 years
3        1 year
4       2 years
         ...
995    6 months
996     3 years
997     2 years
998     2 years
999    6 months
Name: age_upon_outcome, Length: 1000, dtype: object

Oh no! These aren't numbers! And the data is pretty dirty! Let's see how we can break this column apart, into the Age Number and the Age Unit.

In [46]:
# Split out the age number and age unit - using string methods!


#so problems.... there aren't all single digets.... 


strings=df.age_upon_outcome
stage2=[]
numberplaceholder=[]
unitplaceholder=[]

for string in strings:
    temp=string.split()
    stage2.append(temp)

for x in stage2:
    numberplaceholder.append(x[0])
    unitplaceholder.append(x[1])
    
print(numberplaceholder)
print(unitplaceholder)
    
#df['Age Number']=stage2[0]
#df['Age Unit']=stage2[1]

df.head(15)
    
#df['Age Number'] = None
#df['Age Unit'] = None

IndexError: list index out of range

In [ ]:
# Sanity check
df.head()

In [ ]:
# Check the data types really quick...
df.info()

In [ ]:
# Need to make our Age Number actual numbers! 

# But this throws an error!

Alas! Nulls! Let's check out these null values:

In [ ]:
# Check how many nulls we have in our original Age Upon Outcome column

### Handling Missing Data

A lot of the times we'll have missing information in our data set. This can sometimes be troublesome in what we're trying to do.

There are a few strategies we can choose from and they each have their pros/cons:

- **Fill with a Relevant Value**
    - If we know what the nulls 'should' be, easy to fill them with that value
    - For numbers, perhaps the null indicates a 0
    - Or, for string columns, might be easier to handle if we fill with "Missing" or "Unknown"
- **Fill with a Reasonable Value**
    - For numeric data, it might be acceptable to fill with a measure of central tendency (mean or median)
    - For categorical/string data, might be acceptable to fill with the most common (mode)
    - But beware! Filling in missing values can lead to you drawing incorrect conclusions. If most of the data from a column are missing, it's going to appear that the value you filled it in with is more common that it actually was!
- **Specify Missing Data**
    - If you plan to fill in missing values, it might make sense to specify that the data was originally missing by creating a new indicator column
    - This can be helpful when you suspect that the fact the data was missing could be important for an analysis.
- **Drop Missing Data**
    - While you should try to keep as much relevant data as possible, sometimes the other methods don't make as much sense and it's better to remove or **drop** the missing data
    - We typically drop missing data if very little data would be lost and/or trying to fill in the values wouldn't make sense for our use case

So: what should we do about the missing Age upon Outcome data?

<br>
<details>
    <summary>Possible Answer</summary>

- It's probably okay to drop the missing data in this case - not very many rows with nulls in that column
- Should look at the percentage of the total (aka what percentage of rows would be dropped) to justify this decision
    
    
Note! There is a Date of Birth column that does not have any nulls! But we're specifically trying to use Age Upon Outcome here because it helps us practice some other tactics for cleaning data.
    
</details>

In [ ]:
# No matter what - better to make this change on a COPY of the dataframe
df_clean = 
df_clean2 =

In [ ]:
# Code here to handle nulls
df_clean =

In [ ]:
# Multiple ways
df_clean2 =

In [ ]:
# Sanity check
df_clean.isna().sum()

In [ ]:
# Cool - now we can make our Age Number column an integer
df_clean['Age Number'] = None

In [ ]:
# Sanity check
df_clean.info()

Now let's do something about those Age Values...

### Map, Apply and Applymap

Resource: https://www.geeksforgeeks.org/difference-between-map-applymap-and-apply-methods-in-pandas/

The `.map()` method applies a transformation to every entry in the Series. This transformation  "maps" each value from the Series to a new value. A transformation can be defined by a function, Series, or dictionary.

The `.apply()` method is similar to the `.map()` method for Series, but can only take in functions. 

The `.applymap()` method only works on DataFrames, and applies the same transformation to every element (cell) of that DataFrame.

In [ ]:
# Providing this dictionary to capture age values in # days (not perfect)
age_vals = {
    'years': 365,
    'year': 365,
    'months': 30,
    'month': 30,
    'weeks': 7,
    'week': 7,
    'days': 1,
    'day': 1
}

In [ ]:
# Now, how can we transform the Age Value column to capture these values?
df_clean['Age Unit'] = None

In [ ]:
# Sanity check
df_clean.head()

In [ ]:
# Now, let's make a new Age in Days column!
df_clean['Age in Days'] = None

In [ ]:
# Sanity check
df_clean.head()

In [ ]:
# Now we can visualize!
df_clean['Age in Days'].plot(kind='hist');

In [ ]:
# Of course, we could also try...
# Use .dt.normalize on the DateTime column to access the date!
df_clean['Calculated Age in Days'] = None

In [ ]:
# Check it
df_clean.head()

## Question 2: Are Most of The Animals Already Fixed?

Let's use `.map()` to turn the Sex upon Outcome column into a category with three values: Fixed, Intact, or Unknown.

In [ ]:
# Check out what's currently in that column

In [ ]:
# We can write a function for this
def fixed_mapper(status):
    '''
    Takes in the current status of animals and outputs whether they have been fixed
    '''
    None

In [ ]:
# Now let's use it!
df_clean['Grouped Sex upon Outcome'] = None
df_clean[['Sex upon Outcome', 'Grouped Sex upon Outcome']].head()

In [ ]:
# We had a null in that column before, did that change?
df_clean.isna().sum()

In [ ]:
# Visualize it!
df_clean['Grouped Sex upon Outcome'].value_counts().plot(kind='pie');

In [ ]:
df_clean['Grouped Sex upon Outcome'].value_counts().plot(kind='bar');

## A Quick Aside - for Lambda Functions!

Simple functions can be defined just when you need them, when you would call the function. These are called **lambda functions**. These functions are **anonymous** and disappear immediately after use.

These can often be great as map transformation functions, but they can only do so much.

Let's use them to fill some nulls!

In [ ]:
# Check which columns still have null values
df_clean.isna().sum()

Let's look at Outcome Subtype - a lot of nulls, why do we think that is? What would be an appropriate strategy here?

<br>
<details>
    <summary>Possible Answer</summary>

- Might be that the Type doesn't have Subtypes, or that there hasn't been an outcome yet
- Would be appropriate to fill with N/A
    
</details>

In [ ]:
# Let's try it!
# Note: need to use x is np.nan as our if condition

In [ ]:
# BUT! Pandas has a function for this
df_clean['Outcome Subtype'] = None
df_clean['Outcome Subtype']

In [ ]:
# We can use one of these methods to fill the nulls for Outcome Type too
# Explore the column here
df_clean['Outcome Type'].unique()

In [ ]:
# Fill nulls here
df_clean['Outcome Type'] = None

In [ ]:
# Sanity Check
df_clean.isna().sum()

### One More Strategy: Build a Missing Indicator

While this doesn't directly answer a question we have, let's go ahead and build a new column to indicate where Name is null (just to demo).

This can be quite useful when modeling, if the data being missing actually means something!

In [ ]:
# Quick pandas method for this
df_clean['Name Missing'] = None
df_clean.head()

Might be more interesting to build an indicator of where "Mix" is in the Breed column

In [ ]:
# Let's do it
df_clean['Mix Indicator'] = None

In [ ]:
# Sanity check
df_clean.head()

## Comparing Before and After

We can now see all the work we did!

In [ ]:
# Original data
df.info()

In [ ]:
# Missing data cleaned
df_clean.info()

# Level Up: `.applymap()`

`.applymap()` is used to apply a transformation to each element of a DataFrame.

In [ ]:
# This line will apply the base `type()` function to 
# all entries of the DataFrame.

df.applymap(type).head()

# Level Up: Faster NumPy Methods

In general, `np.where()` and `np.select()` are faster than `map()`. This won't matter too much with reasonably-sized data but can be a consideration for ***big data***.

In [ ]:
# Let's copy the dataframe to play around with
level_up = df_clean.copy()

In [ ]:
level_up.head()

## NumPy's `where()` Method

In [ ]:
# First pass a condition
level_up['Adopted1'] = np.where(level_up['Outcome Type'] == 'Adoption',
                                True,  # What to fill with if the condition is true
                                False)  # What to fill with if not true
level_up.head()

In [ ]:
level_up['Adopted2'] = level_up['Outcome Type'].map(lambda x: True if x == 'Adoption' else False)
level_up.head()

In [ ]:
# Let's time how long it takes np.where() to run by running it multiple times
%timeit np.where(level_up['Outcome Type'] == 'Adoption', True, False)

In [ ]:
# Let's time how long it takes .map() to run by running it multiple times
%timeit level_up['Outcome Type'].map(lambda x: True if x == 'Adoption' else False)

## NumPy's `select()` Method

Again, `numpy` will be faster:

In [ ]:
# Define our list of conditions
conditions = [level_up['Sex upon Outcome'] == 'Neutered Male',
              level_up['Sex upon Outcome'] == 'Spayed Female',
              level_up['Sex upon Outcome'] == 'Intact Male',
              level_up['Sex upon Outcome'] == 'Intact Female',
              level_up['Sex upon Outcome'] == 'Unknown',
              level_up['Sex upon Outcome'].isna()]

# Define a matching list of outcomes
choices = ['Fixed', 'Fixed', 'Intact', 'Intact', 'Unknown', 'Unknown']

In [ ]:
# Use np.select
level_up['Grouped Sex upon Outcome1'] = np.select(conditions, choices)
level_up['Grouped Sex upon Outcome1']

In [ ]:
# Check we got the same results with np.where()
(level_up['Grouped Sex upon Outcome1'] != level_up['Grouped Sex upon Outcome']).sum()

In [ ]:
# Let's time how long it takes .map() to run by running it multiple times
%timeit level_up['Sex upon Outcome'].map(fixed_mapper)

In [ ]:
# Let's time how long it takes np.select() to run by running it multiple times
%timeit np.select(conditions, choices)